body {
    margin: 0px;
}

.logo-div {
    width: 150px;
    padding-left: 12px;
    margin-top: 18px;
    margin-bottom: 10px;
}

.stories-section {
    overflow-x: scroll;
    padding-left: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(227 227 227);
    display: flex;
    align-items: center;
}

.stories-section::-webkit-scrollbar {
    display: none;
  }

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 8px;
}

.username {
    text-align: center;
    font-size: 12px;
    width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
}

.profile-div {
    position: relative;
    border: 3px solid red;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
}

.profile-pictures {
    max-height: 70px;
    max-width: 70px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.username {
    text-align: center;
    font-size: 12px;
}

.story-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: black;
}

.story-popup button {
    z-index: 9;
    position: relative;
}

.popup-story-deatils {
    position: absolute;
    z-index: 99;
    bottom: 10%;
    left: 50%;
    background: #000000ba;
    color: white;
    padding: 20px;
    transform: translateX(-50%);
    border-radius: 10px;
}

.story-popup-header {
    position: absolute;
    z-index: 99;
    display: flex;
    align-items: center;
    top: 15px;
    left: 0px;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
    box-sizing: border-box;
}

.story-popup-header-name {
    color: rgb(255 255 255);
}

.story-popup-header-pic {
    height: 50px;
    width: 50px;
    display: block;
    position: relative;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.story-popup-user-details {
    display: flex;
    align-items: center;
}

.story-popup-close-button {
    height: 30px;
    width: 30px;
    position: relative;
}

.story-popup::before {
    position: absolute;
    top: 0px;
    left: 0px;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 25%);
    z-index: 1;
}

.story-toggle-div {
    z-index: 9;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

.story-toggle-div div {
    flex: 1 1 0px;
}

.stories-bar {
    position: absolute;
    top: 6px;
    left: 0px;
    width: 100%;
    display: flex;
    z-index: 9;
    box-sizing: border-box;
    padding: 0px 20px;
}

.stories-bar div {
    height: 2px;
    background: white;
    flex: 1 1 0px;
    border-radius: 150px;
    margin-right: 8px;
}

@media only screen and (min-width: 768px) {
    .main-div {
        width: 40%;
        margin: 0px auto;
    }
}